@page "/FindAddFamily"

<div class="container ">
    <div class="mw-100 p-3 my-3">
        <div class="row" >
            <div class="col-lg mr-2 rounded text-center pt-2 blue"  ><AddFamily/></div>
            <div class="col-lg mr-2 rounded text-center pt-2 blue"  ><FindFamily/></div>
        </div>
    </div>

     
</div>


@code {
    
}