<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FamilyApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FindAddFamily">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Families
            </NavLink>
        </li>
        </AuthorizeView>
        <AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SeeAdult">
                <span class="oi oi-book" aria-hidden="true"></span> Members
            </NavLink>
        </li>
        </AuthorizeView>
      <AuthorizeView>
      <li class="nav-item px-3">
          <NavLink class="nav-link" href="Filters">
              <span class="oi oi-zoom-in" aria-hidden="true"></span> Filters
          </NavLink>
      </li>
      </AuthorizeView>
        <AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Statistics">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Statistics
            </NavLink>
        </li>
        </AuthorizeView>
        <AuthorizeView Policy="MustBeAdmin">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ManageUser">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Manage User
            </NavLink>
        </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
